<div id="main-header" class="main-header">
	<nav aria-labe="Auxiliary" class="aux-nav">
		<ul class="aux-nav-list">
			<li class="aux-nav-list-item">
				<button type="button" name="button" class="btn js-toggle-dark-mode">Dark</button>

				<script>
				const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

				jtd.addEvent(toggleDarkMode, 'click', function(){
				  if (jtd.getTheme() === 'dark') {
					jtd.setTheme('light');
					toggleDarkMode.textContent = 'Dark';
				  } else {
					jtd.setTheme('dark');
					toggleDarkMode.textContent = 'Light';
				  }
				});
				</script>

			</li>
		</ul>
	</nav>
</div>