<div id="main-header" class="main-header">
	<nav aria-labe="Auxiliary" class="aux-nav">
		<ul class="aux-nav-list">
			<li class="aux-nav-list-item">
				<input type="checkbox" class="checkbox js-toggle-dark-mode" id="checkbox">
				<label for="checkbox" class="checkbox-label">
					<i class="fas fa-moon"></i>
					<i class="fas fa-sun"></i>
					<span class="ball"></span>
				</label>

				<script>
				const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

				jtd.addEvent(toggleDarkMode, 'click', function(){
				  if (jtd.getTheme() === 'dark') {
					jtd.setTheme('light');
				  } else {
					jtd.setTheme('dark');
				  }
				});
				</script>

			</li>
		</ul>
	</nav>
</div>