---
---
{%- if site.color_scheme and site.color_scheme != "nil" -%}
  {%- assign color_scheme = site.color_scheme -%}
{%- else -%}
  {%- assign color_scheme = "light" -%}
{%- endif -%}

{%- capture newline %}
{% endcapture -%}

{%- capture scss -%}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}
.site-nav ul li a {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
  
.checkbox {
  opacity: 0,
  position: absolute
};

.checkbox-label {
  background-color: #111,
  width: 50px,
  height: 26px,
  border-radius: 50px,
  position: relative,
  padding: 5px,
  cursor: pointer,
  display: flex,
  justify-content: space-between,
  align-items: center
};
  
.checkbox-label .ball {
  background-color: #fff,
  width: 22px,
  height: 22px,
  position: absolute,
  left: 2px,
  top: 2px,
  border-radius: 50%,
  transition: transform 0.2s linear
};

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px)
};

.fa-moon {color: #f1c40f};

.fa-sun {color: #f39c12};

}
{%- endcapture -%}

{{ scss | scssify | split: newline | slice: -3, 3 | join: newline }}
