{% if site.search.button %}
<button id="search-button" class="search-button btn-reset" aria-label="Focus on search">
  <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-search"></use></svg>
</button>
<button id="top-button" class="btn-top"">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#7456EE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <path d="M17 15L12 10L7 15" />
    </svg>
</button>
{% endif %}

<div class="search-overlay"></div>